*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
}

.fa-star {
	color: #ff7f00;
}

.table tr th[scope="row"] img {
	width: 100px;
	height: 80px;
}